.login-card{
    width: 450px;
    margin: auto;


}

.logo{
    width: 50%;
    margin-left: 25%;
}

.login-input{
    margin: 2%;
    width: 96%;
}

.signup-btn{
    margin: 2%;
    width: 96%;
    height: 45px;
    border-radius:2px;
    color: white;
    font-size: 18px;
    background-color: green;
    border-color: transparent;
}

.login-text{
    text-decoration: none;
    margin: 2%;
    text-decoration-color: black;
}

