<mat-card class="login-card">
    <form [formGroup]="forgotPasswordForm">

        <img src="../../../assets/FIXCOM2.jpg" alt="FIXCOM" class="logo" />
        <br />

        <mat-form-field class="login-input">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required />
            <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                <span *ngIf="forgotPasswordForm.controls.email.errors.required">This field is mandatory. </span>
                <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">This field is invalid. </span>
            </mat-error>
        </mat-form-field>

        <button class="signup-btn" type="submit" (click)="handleSubmit()"
            [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">
            send password
        </button>

        <p style="text-align: center;"> <a routerLink="/login" class="login-text">Do you have account?</a> </p>

    </form>
</mat-card>