
<mat-card class="login-card">

    <form [formGroup]="loginForm">

    <img src="../../../assets/FIXCOM2.jpg" alt="FIXCOM" class="logo" />
    <br />

    <mat-form-field class="login-input">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required/>
        <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
            <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory. </span>
            <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid. </span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="login-input">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required/>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
            <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory. </span>
            <!-- <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid. </span> -->
        </mat-error>
    </mat-form-field>

    <button class="login-btn" type="submit" (click)="handleSubmit()" [disabled]="!(loginForm.valid && loginForm.dirty)">
        login
    </button>

    <button class="signup-btn" routerLink="/signup">
        signup
    </button>

    <p class="forogot-passsword-text">
       <a href=""  style="text-decoration: none;" routerLink="/forgot-password">Forgot Password?</a> 
    </p>

</form>

</mat-card>
